a {
  text-decoration: none;
  color:black;
}

a:clicked {
  text-decoration: none;
  color:black;
}

a:link {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration: none;
  color:black;
}

#invoice-title {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.quote-action-button {
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
}

.customer-info-header {
  margin-bottom: 0px;
  font-size: 14px;
}

.customer-info-content {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
}

.invoice-field {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 8px;
  border-style: none;
}

.customer-info-section {
  margin-bottom: 10px;
}

.customer-info-column {
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 15px;
  margin-bottom: 40px;
}

.itemrow {
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

